{% extends "base.html" %}
{% block content %}
<h1>削除</h1>
<p>以下のメモを削除しますか？</p>
<form method="POST">
    <table border="1">
        <tr>
            <th>日付</th>
            <th>価格</th>
        </tr>
        <tr>
            <td>
                <input type="date" name="date" value="{{post.date}}" disabled>
            </td>
            <td>
                <input type="number" name="amount" value="{{post.amount}}" disabled>
            </td>                 
        </tr>
    </table>
    <input type="submit" value="削除">
</form>
<a href="/" role="button">一覧に戻る</a>
{% endblock %}