{% extends "base.html" %}
{% block content %}
<h1>編集</h1>
<form method="POST">
    <table border="1">
        <tr>
            <th>日付</th>
            <th>価格</th>
        </tr>
        <tr>
            <td>
                <input type="date" name="date" value="{{post.date}}">
            </td>
            <td>
                <input type="number" name="amount" value="{{post.amount}}">
            </td>                 
        </tr>
    </table>
    <input type="submit" value="編集">
</form>
<a href="/" role="button">一覧に戻る</a>
{% endblock %}