body{
    font-family:sans-serif;
    background-color:#f5f7fa;
    margin:0;
    padding:0;
}

header{
    background-color: #2c7be5;
    color:white;
    padding:20px;
    text-align:center;
}

main{
    padding:20px;
}

section{
    background: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

h2{
    border-left:5px solid #2c7be5;
    padding-left:10;
}

footer{
    text-align:center;
    padding: 10px;
    color:#666;
}

.add_btn{
    margin-left: 240px; /* 追加の左の余白 */
}