{% extends "base.html" %}
{% block content %}
<header>
    <h1>家計簿アプリ</h1>
    <p>支出管理ページ</p>
</header>
<main>
    <section>
        <h2>残金</h2>
        <p id='remaining_amount'>{{remaining_amount}}円</p>
    </section>

    <section>
        <h2>収入</h2>
            {% if income_list == [] %}
                <p>収入は登録されていません</p>
            {% else %}
                <table border="1">
                    <tr>
                        <th>日付</th>
                        <th>金額</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for income in income_list %}
                        <tr>
                            <td>{{income.date}}</td>
                            <td>{{income.amount}}</td>
                            <td>
                                <a href="/income/{{income.id}}/edit" role="button">編集</a>
                            </td>
                            <td>
                                <a href="/income/{{income.id}}/delete" role="button">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <a href="/income/regist" role="button" class="add_btn">＋追加</a>
    </section>

    <section>
        <h2>支出</h2>
            {% if expense_list == [] %}
                <p>支出は登録されていません</p>
            {% else %}
                <table border="1">
                    <tr>
                        <th>日付</th>
                        <th>商品</th>
                        <th>価格</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for expense in expense_list %}
                        <tr>
                            <td>{{expense.date}}</td>
                            <td>{{expense.goods}}</td>
                            <td>{{expense.amount}}</td>
                            <td>
                                <a href="/expense/{{expense.id}}/edit" role="button">編集</a>
                            </td>
                            <td>
                                <a href="/expense/{{expense.id}}/delete" role="button">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <a href="/expense/regist" role="button" class="add_btn">＋追加</a>
    </section>

    <section>
        <h2 id="month-title">{{ month }}月のデータ</h2>
        <button type="button" onclick="changeMonth(-1)">←</button>
        <button type="button" onclick="changeMonth(1)">→</button>
        <canvas id="myChart"></canvas>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    let month = {{ month }};

    const ctx = document.getElementById('myChart');

    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels | tojson }},
            datasets: [{
                label: '支出',
                data: {{ values | tojson }},
            }]
        }
    });
    </script>

    <script>
    function changeMonth(diff) {
        month += diff;

        fetch(`/change_month?month=${month}`)
            .then(res => res.json())
            .then(data => {
                // 月更新
                month = data.month;
                document.getElementById("month-title").innerText = month + "月のデータ";

                // グラフ更新
                chart.data.labels = data.labels;
                chart.data.datasets[0].data = data.values;
                chart.update();
            });
    }
    </script>

    <!-- <section>
        <h2>{{month}}月のデータ</h2>
        <button onclick="changeMonth(-1)">←</button>
        <button onclick="changeMonth(1)">→</button>

        <script>
        let month = {{ month }};

        function changeMonth(diff) {
            month += diff;
            location.href = `/?month=${month}`;
        }
        </script>
        
        <canvas id="myChart"></canvas>
    </section>

    <script>
        const labels = {{ labels | tojson}};
        const values = {{ values | tojson}}
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'line',  // 棒グラフ
            data: {
                labels: labels,
                datasets: [{
                    label: 'テストデータ',
                    data: values,
                }]
            }
        });
    </script> -->
    

</main>
<footer>
    <small>
        2026<br>
        本ページは個人の学習目的で作成しています。
    </small>
</footer>


{% endblock %}