{% extends "base.html" %}
{% block content %}
<h1>新規登録</h1>
<form method="POST">
    <table border="1">
        <tr>
            <th>商品</th>
            <th>価格</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="title">
            </td>   
            <td>
                <input type="text" name="body">
            </td>                 
        </tr>
    </table>
    <input type="submit" value="項目の追加">
</form>
<a href="/" role="button">一覧に戻る</a>
{% endblock %}